<!doctype html>
<html ng-app>
  <head>
    <link rel='stylesheet' href='star-canvas.css'>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js'></script>
    <script src='star-canvas.js'></script>
  </head>
  <body>
    <div id='control-panel' ng-controller='StarCanvasCtrl' class='clearfix'>
      <div ng-click='addSection()' class='color-section new'>+</div>
      <div ng-repeat='section in sections' class='color-section clearfix'>
        <div ng-click='section.addColor()' class='color-section-item'>
          <div class='new-color-section-item'>+</div>
        </div>
        <div ng-repeat='color in section.colors' class='color-section-item'>
          <input class='color-picker' type='color' ng-model='color.value'>
        </div>
      </div>
    </div>
    <canvas id='canvas'/>
  </body>
</html>